---
http_interactions:
- request:
    method: post
    uri: https://donorbox6549.api-us1.com/api/3/contacts
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"test_2@test.com","first_name":"test","last_name":"user"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - 2b56a6b170950159d22feabca2c58d9523b331a2f6c92cd096e63fd4393cfd08f15a3b3c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"test_2@test.com","firstName":"test","lastName":"user","email_empty":false,"cdate":"2021-06-08T15:30:53-05:00","udate":"2021-06-08T15:30:53-05:00","orgid":"","orgname":"","links":{"bounceLogs":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/bounceLogs","contactAutomations":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC","contactData":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/contactData","contactGoals":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/contactGoals","contactLists":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/contactLists","contactLogs":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/contactLogs","contactTags":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/contactTags","contactDeals":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/contactDeals","deals":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/deals","fieldValues":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/fieldValues","geoIps":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/geoIps","notes":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/notes","organization":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/organization","plusAppend":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/plusAppend","trackingLogs":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/trackingLogs","scoreValues":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/scoreValues","accountContacts":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/accountContacts","automationEntryCounts":"https:\/\/donorbox6549.api-us1.com\/api\/3\/contacts\/31\/automationEntryCounts"},"hash":"43f6319b26ee088120b3e2dc2ae4f786","id":"31","organization":""}}'
  recorded_at: Tue, 08 Jun 2021 20:30:52 GMT
recorded_with: VCR 6.0.0
